BODY {
  background-color: lightgrey;
  font-size: 8pt;
}
DIV {
  /* something to do with resizing to contain the span inside */
  height: auto;
  overflow: auto;
}
SPAN {
  display: inline-block;
  margin: 3px;
}
IMG {
  display: inline-block;
  vertical-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 8px;
  margin-right: 2px;
}

SVG {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.room {
  border: 7px solid green;
  padding: 3px;
}
.room_title {
  position: relative;
  top: -15px;
  color: white;
  margin-right: -22;
  font-size: 8px;
}

.log_process_1 {
  margin-left: 5;
  margin-right: 0px;
}

.log_process_2 {
  margin-left: 0px;
}

.process {
  margin: 2px;
  border: 2px dashed grey;
  width: 90px;
}

.event {
  border: 1px solid brown;
  padding: 2px;
  width: 270px;
}

.event_parent {
  border: 1px solid #403065;
  padding: 8px;
  margin: 3px;
}

.source {
  border: 2px dashed grey;
  padding: 4px;
  margin: 3px;
}

.target {
  border: 2px dashed grey;
  padding: 4px;
  margin: 3px;
}

.succeed {
  background-color: green;
  color: white;
  padding: 3px;
  font-size: 8pt;
}

.resend {
  background-color: yellow;
  color: black;
  padding: 3px;
  font-size: 8pt;
}

.fail {
  background-color: red;
  color: white;
  padding: 3px;
  font-size: 8pt;
}

.should_subscribe {
  background-color: blue;
  color: white;
  padding: 3px;
  font-size: 8pt;
}

.module {
  height: 20px;
  border: 1px solid blue;
  position: relative;
  padding: 3px;
  font-size: 8pt;
  width: 150px;
}
