[{gerlshmud,
 [
  {port, 8081}
 ]},

 {lager,
  [
   {colored, true},

   %% Have logs in the main directory instead of the release directory
   {log_root, "/Users/cmaguire/dev/gerlshmud/logs"},

   %% put the crash log in the same directory as the other logs instead
   %% of a child log/ directory
   {crash_log, "/Users/cmaguire/dev/gerlshmud/logs/crash.log"},

   {error_logger_hwm, 200},
   {error_logger_flush_threshold, 1000},

   {async_threshold,500},
   {async_threshold_window,250},


   %% default config
   {handlers,
     [{lager_console_backend, [{level, info}]},
      {lager_file_backend, [{file, "error.log"}, {level, error}]},
      {lager_file_backend, [{file, "console.log"}, {level, info}]}
     ]}
  ]}
].
